manifest {
    name = 's-mobed/Nanopox'
    homePage = 'https://github.com/s-mobed/Nanopox'
    mainScript = 'mpox_var.nf'
    defaultBranch = 'variant_call'
    version = '1.0.0'
    nextflowVersion = '>=23.04.1'
}

params {
    // single files
    fastq = false
    reference = './reference.fa'
    primer_scheme = './*.bed'
    sra = false
    ncbi_key = '3695cf333ad9e03992d629b62d2c81130708'
    method = 'all'

    // directories
    qc_dir = './corrected/'
    draft_dir = './consensus_seqs/'
    stats_dir = './pipeline_stats/'
    align_dir = './alignments/'
    med_dir = './Medaka_results/'
    calls_dir = './snpEFF_calls/'

    // pipeline related
    help = false
    threads = 1
}

conda {
    enabled = true
    useMamba = true
}
process.mamba = ''

process {
    errorStrategy = {task.attempt == 2 ? 'retry' : 'ignore'}
    maxRetries = 1
    beforeScript = 'ulimit -s unlimited'

    withName:read_qc {
        container = 'smobed/nanoq:latest'
    }
    withName:minimap {
        container = 'staphb/minimap2:latest'
    }
    withName:sam_clip {
        container = 'staphb/samtools:1.12'
    }
    withName:sam_con {
        container = 'staphb/samtools:1.17'
    }
    withName:medaka_1 {
        container = 'ontresearch/medaka:v1.8.0'
    }
    withName:medaka_2 {
        container = 'ontresearch/medaka:v1.8.0'
    }
    withName:medaka_3 {
        container = 'ontresearch/medaka:v1.8.0'
    }
    withName:bcfcall {
        container = 'staphb/bcftools:1.12'
    }
    withName:snpann {
        container = 'smobed/snpeff_mpox:latest'
    }
    withName:vcf_parser {
        container = 'python:slim'
    }
}

docker {
    enabled = true
    temp = 'auto'
}
