params {
    // single files
    fastq = false
    reference = './reference.fa'
    primer_scheme = './*.bed'
    sra = false
    ncbi_key = '3695cf333ad9e03992d629b62d2c81130708'

    // directories
    qc_dir = './corrected/'
    draft_dir = './consensus_seqs/'
    stats_dir = './pipeline_stats/'
    align_dir = './alignments/'
    med_dir = './Medaka_results/'

    // pipeline related
    help = false
    threads = 1
}

conda {
    enabled = true
    useMamba = true

}